<% if index > 0  %>
  <button type='button' data-action='questions#previous' class='text-blue-800 bg-blue-200 py-2 px-4 rounded-xl text-lg border'> ← </button>
<% end %>

<% if index < length-1 %>
  <button type='button' data-action='questions#next' class='text-blue-800 bg-blue-200 py-2 px-4 rounded-xl text-lg border'> → </button>
<% else %>
  <button data-action='questions#submit' class='text-green-800 bg-green-200 py-2 px-4 rounded-xl text-lg border'> Submit </button>
<% end %>
