<h1 class='text-4xl font-bold text-red-800 my-5'>Number of Questions</h1>

<%= form_with url: tests_url, method: :post do |form| %>
  <div class='flex my-5 w-full gap-2'>
    <div class='w-3/4 md:w-1/4'>
      <%= form.number_field :question, pattern: "([0-9\-\_]+)", required: true, placeholder: '3-10', min: 3, max: 10, class: 'block shadow rounded-md border border-gray-200 outline-none px-3 py-2 w-full' %>
    </div>
    <div class='w-1/4 md:w-2/4'>
      <%= form.submit 'Start', class: 'text-green-800 bg-green-100 hover:bg-green-300 p-2 px-3 rounded-xl font-bold' %>
    </div>
  </div>
<% end %>
