<div class='flex justify-center items-center h-96'>
  <%= button_to 'Start Test', tests_path, method: :post, class: 'bg-green-200 hover:text-green-900 text-green-700 py-2 px-4 rounded-xl text-lg border' %>
</div>
