<div class='flex justify-center p-3 rounded-lg text-xl font-bold text-green-800'>
  <div>Test Submmitted Successfully</div>
</div>

<div class='flex justify-center items-center h-96'>
  <%= link_to 'Show Result', result_path, class:  'bg-green-200 hover:bg-green-300 py-2 px-4 rounded-xl text-lg border' %>
</div>
